# Node
node_modules/
# Node
backend/node_modules/
client/node_modules/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
dist/

.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
dist/
